{% extends "home/template.html.twig" %}

{% set age = date().diff(date('2003-07-13')) %}
{% set skillIconsDir = 'assets/img/skills/' %}

{% block presentation %}

    <p>Bonjour, je m'appelle Michele FLORIO, j'ai {{ age.y }} ans et la programmation est l'une de mes plus grandes passions !</p>
    <p>Féru d'informatique, je pratique le développement informatique depuis la 5<sup>ème</sup> (vers mes 12 ans), mais avant déjà je touchais à d'autre de ses facettes : montage/démontage d'ordinateurs, lecture du code source de certains sites internet, jeux vidéos... L'informatique m'intéresse dans la grande majorité de ses aspects.</p>
    <p>Malgré ma spécialisation en développement, j'essaie également de m'intéresser à la partie réseau pour être polyvalent et être encore plus proche du domaine.</p>
    <p>Je prévois de m'épanouir en devenant developpeur web full-stack après avoir obtenu un diplôme de niveau BAC+5.</p>
    <a class="link-button" role="button" href="assets/cv.pdf" target="_blank">Voir mon CV <span class="arrow"></span></a>
    <p>Ayant validé un BTS SIO, je suis à présent en 3ème année de BUT (Bachelor Universitaire de Technologie) Informatique parcours "réalisation d'applications" en alternance pour appronfondir mes connaissances sur le développement web/applicatif et l'informatique en général (pour être mieux préparé à de futures études) mais aussi acquérir de l'expérience professionnelle pour le futur.</p>
    <p>Issu d'une réforme des études supérieures, le BUT vise à remplacer la licence pro en rallongeant le DUT (Diplôme Universitaire de Technologie) sur 3 ans</p>
    <p>J'ai choisi cette formation car elle propose de former les étudiants aux différentes technologies utiles en entreprise, que ce soit du front-end (Angular), du back-end (SpringBoot, Symfony), de l'applicatif (Java) ou de l'opération (Docker, Kubernetes).</p>
    {# <a 
        class="link-button"
        role="button"
        href="https://ufa47.info/images/pdf/plaquettes/plaquette_sio.pdf"
        target="_blank"
    >
        Plaquette de l'établissement <span class="arrow"></span>
    </a> #}
    <br>
    <a 
        class="link-button" 
        role="button" 
        href="https://www.onisep.fr/ressources/univers-formation/formations/post-bac/but-informatique-parcours-realisation-d-applications-conception-developpement-validation" 
        target="_blank"
    >
        Plus d'informations - onisep <span class="arrow"></span>
    </a>

{% endblock %}



{% block career %}

    <div class="career-list">
        <h3>Scolaire</h3>
        {% for careerItem in careersByType.sco %}
            <div class="career-block">
                <div class="career-title">
                    <span class="date">
                        {% if careerItem.startsAt != careerItem.endsAt %}
                            {{ careerItem.startsAt|format_datetime(pattern='MMMM Y')|title }}-{{ careerItem.endsAt|format_datetime(pattern='MMMM Y')|title }}
                        {% else %}
                            {{ careerItem.startsAt|format_datetime(pattern='MMMM Y')|title }}
                        {% endif %}
                    </span>
                    | {{ careerItem.title }}</div>
                <div class="career-desc">
                    {{ careerItem.description|raw }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="career-list">
        <h3>Professionnel</h3>
        {% for careerItem in careersByType.pro %}
            <div class="career-block">
                <div class="career-title">
                    <span class="date">
                        {% if careerItem.startsAt != careerItem.endsAt %}
                            {{ careerItem.startsAt|format_datetime(pattern='MMMM Y')|title }}-{{ careerItem.endsAt|format_datetime(pattern='MMMM Y')|title }}
                        {% else %}
                            {{ careerItem.startsAt|format_datetime(pattern='MMMM Y')|title }}
                        {% endif %}                                    
                    </span>
                    | {{ careerItem.title }}
                </div>
                <div class="career-desc">
                    {{ careerItem.description|raw }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}



{% block skills %}

    {% for skillType in skillTypes %}
        <div class="skills-block">
            <h3 class="skills-block-title">{{ skillType.label }}</h3>
            <div class="skills">
                <div class="skill-icons">
                    {% for skill in skillType.skills %}
                        {% set skillClass = skill.isNew ? 'skill pill new' : (skill.isUpgraded ? 'skill pill upgrade' : 'skill' ) %}
                        
                        <div class="{{ skillClass }}" data-name="{{ skill.name }}">
                            <img src="{{ asset("#{skillIconsDir}#{skill.icon}") }}">
                        </div>
                    {% endfor %}
                </div>
                <span class="skill-name">default</span>
            </div>
            <div class="skills-block-desc">
                {{ skillType.description|raw }}
            </div>
        </div>
    {% endfor %}

{% endblock %}



{% set projectCoversDir = 'assets/img/projects/' %}

{% block projects %}

    {% for project in projects %}
        <div class="project-card">
            <div class="project-card-body">
                <h5 class="project-card-title">{{ project.name }}</h5>
                <p>{{ project.summary }}</p>
            </div>
            <div class="project-card-footer">
                {% for tag in project.tags %}
                    <span class="tag" style="border-color: {{ tag.color }}; color: {{ tag.color }}; background-color: {{ tag.color }}33">{{ tag.label }}</span>
                {% endfor %}
            </div>
            <a href="/project/{{ project.id }}" class="link-stretch"></a>
            <img src="{{ asset("#{projectCoversDir}#{project.cover}") }}" alt="">
        </div>
    {% endfor %}

{% endblock %}



{% block footer_section_1 %}

<h4 class="title">Informations</h4>
<ul>
    <li>FLORIO Michele</li>
    <li>47300, Villeneuve-sur-Lot</li>
    <li><a href="tel:+33695810104">+33 6 95 81 01 04</a></li>
    <li><a href="mailto:florio.michele@outlook.com">florio.michele@outlook.com</a></li>
</ul>

{% endblock %}



{% block footer_section_2 %}

<h4 class="title">Centre de formation</h4>
<ul>
    <li>IUT Blagnac</li>
    <li><a href="https://www.google.fr/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjJjpjF15aEAxUsTKQEHcElDukQ4kB6BAhhEAM&url=%2Fmaps%2Fplace%2F%2Fdata%3D!4m2!3m1!1s0x12aea567f203159f%3A0xeff70715d0352e33%3Fsa%3DX%26ved%3D2ahUKEwjJjpjF15aEAxUsTKQEHcElDukQ4kB6BAg7EAA&usg=AOvVaw0Pi3LQYz-utD6pXh4Wqups&opi=89978449" target="_blank">BP 60073 31703 Cédex <br> 1 Pl. Georges Brassens <br> 31700, Blagnac</a></li>
    <li><a href="tel:0562747575">05 62 74 75 75</a></li>
    {# <li><a href="mailto:inscription.bts@ufa47.org" target="_blank">inscription.bts@ufa47.org</a></li> #}
    <li><a href="https://www.iut-blagnac.fr" target="_blank">www.iut-blagnac.fr</a></li>
</ul>

{% endblock %}



{% block footer_section_3 %}

<h4 class="title">Entreprise</h4>
<ul>
    <li>@COM Expertise Comptable</li>
    <li><a href="https://www.google.fr/maps/place/'@Com.Expertise+Villeneuve+sur+lot'/@44.3896796,0.7092508,19z/data=!4m13!1m7!3m6!1s0x12aba9d175eed28d:0x816092bfbef148c5!2s1+Rue+du+Chevron+d'Or,+47300+Pujols!3b1!8m2!3d44.3908252!4d0.7079428!3m4!1s0x12ab07663525b58b:0xb9e1524c3a8c436b!8m2!3d44.389759!4d0.7094527" target="_blank">1 rue du Chevron d'Or <br> 47300, Pujols</a></li>
    <li><a href="tel:+33553498800">+33 5 53 49 88 00</a></li>
    <li><a href="https://www.acomaudit.com" target="_blank">acomaudit.com</a></li>
</ul>

{% endblock %}



{% block footer_section_4 %}

<h4 class="title">Retrouvez-moi</h4>
<ul>
    <li><a href="https://www.linkedin.com/in/michele-florio-0a1714213/" target="_blank"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
    <li><a href="https://www.github.com/redeifantasmi" target="_blank"><i class="fab fa-github"></i>Github</a></li>
    {# <hr> #}
    {# <li><a role="button" tabindex="0">Don't click</a></li> #}
</ul>

{% endblock %}
