<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

        <script>
            if(localStorage.getItem("light-theme") == "true") {
                document.documentElement.dataset.theme = 'light';
            }
        </script>

        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome6/css/all.min.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;800&display=swap" rel="stylesheet">

        {# <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap" rel="stylesheet"> #}
        <!-- <link rel="stylesheet" href="/assets/css/monokai-sublime.min.css"> -->
        {# <link rel="stylesheet" href="assets/css/atom-one-dark.min.css">

        <script src="/assets/js/highlight.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery-3.6.0.min.js"></script> #}
        
    </head>
    <body>

{# <div class="spinner-backdrop">
    <div class="spinner"></div>
</div> #}

<header>
    <div>
        <p>MICHELE FLORIO</p>
        <p>Développeur web Full-stack</p>
    </div>
</header>
<nav>
    <div class="burger-menu link">
        <div class="animated-burger link">
            <input type="checkbox">
            <div class="burger-icon">
                <div class="burger-line"></div>
                <div class="burger-line"></div>
                <div class="burger-line"></div>
            </div>
            <div class="burger-links">
                <a href="#pres" tabindex="0" class="link">Présentation</a>
                <a href="#parc" tabindex="0" class="link">Parcours</a>
                <a href="#comp" tabindex="0" class="link">Compétences</a>
                <a href="#proj" tabindex="0" class="link">Projets</a>
            </div>
        </div>
    </div>
    
    
    <!-- <div id="title">portfolio</div> -->
    <div id="links">
        <a href="#pres" tabindex="0" class="link">Présentation</a>
        <a href="#parc" tabindex="0" class="link">Parcours</a>
        <a href="#comp" tabindex="0" class="link">Technologies</a>
        <a href="#proj" tabindex="0" class="link">Projets</a>
    </div>
    <button id="theme-switcher" class="link" type="button"></button>
    
</nav>

<button type="button" id="scroll-arrow" class="hidden"><i class="fas fa-chevron-down"></i></button>

<main>
    <aside>
        <a href="#pres" tabindex="0" class="selected">Présentation</a>
        <a href="#parc" tabindex="0">Parcours</a>
        <a href="#comp" tabindex="0">Technologies</a>
        <a href="#proj" tabindex="0">Projets</a>
        {# <a class="link" href="{{ asset('assets/cv.pdf') }}" target="_blank">CV <i class="fas fa-download"></i></a> #}
        <div>
            <a href="{{ asset('assets/cv.pdf') }}" class="link">CV <i class="fas fa-download"></i></a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}" class="link">EA <i class="fas fa-wrench"></i></a>
            {% endif %}
        </div>
        
    </aside>
    <div class="container">
        <section id="pres" class="container-section">
            <h2>Présentation</h2>
            <div class="presentation-content">
                {% block presentation %}{% endblock %}
            </div>
        </section>
        <section id="parc" class="container-section">
            <h2>Parcours</h2>
            <div class="career">
                {% block career %}{% endblock %}
            </div>
        </section>
        <section id="comp" class="container-section">
            <h2>Technologies</h2>
            <div class="skills-list">
                {% block skills %}{% endblock %}
            </div>
            <small><span class="pill new"></span> découverte à l'iut / <span class="pill upgrade"></span> maîtrise améliorée à l'iut</small>
        </section>
        <section id="proj" class="container-section">
            <h2>Mes derniers projets</h2>
            <div class="project-list">
                {% block projects %}{% endblock %}
            </div>
            <a class="link-button" href="{{ path('app_project') }}" role="button">Voir tous les projets <span class="arrow"></a>
        </section>
    </div>
</main>

<a id="back-to-top" class="fas" role="button" tabindex="0"></a>

    <footer>
        <div class="footer-container">
            <div id="footer-myinfo" class="footer-sub">
                {% block footer_section_1 %}{% endblock %}
            </div>
            <div id="footer-school" class="footer-sub">
                {% block footer_section_2 %}{% endblock %}
            </div>
            <div id="footer-firm" class="footer-sub">
                {% block footer_section_3 %}{% endblock %}
            </div>
            <div id="footer-social" class="footer-sub">
                {% block footer_section_4 %}{% endblock %}
            </div>
        </div>
    </footer>
</body>
</html>

<script defer src="{{ asset('assets/js/main.js') }}"></script>
